<!DOCTYPE html>

<html lang="@StaticHelper.Meta.Language">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="@SkinHelper.SkinMeta.Color" />

        <title>@ViewData["Title"] : @StaticHelper.Meta.Title</title>

        @if (StaticHelper.Meta.UseRss)
        {
        <link rel="alternate" type="application/rss+xml" href="/Feed/RSS" title="RSS: @StaticHelper.Meta.Title" />
        }

        @if (StaticHelper.Meta.UseAtom)
        {
        <link rel="alternate" type="application/atom+xml" href="/Feed/Atom" title="Atom: @StaticHelper.Meta.Title" />
        }

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous" />
    </head>
    <body>
        @Html.Raw(SkinHelper.LoadHTML("header"))

        <div class="contents">
            @RenderBody()
        </div>

        @Html.Raw(SkinHelper.LoadHTML("footer"))
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
